// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .v-ui-my {
    background: url("images/background.jpg") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    //opacity: 0.5;
  }

  .v-label-header {
    color: rgba(20, 20, 104, 0.78);
    font-size: 24pt;
    padding: 5px;
  }

  .v-label-big {
    font-size: 30pt;
  }

  .v-label-error {
    color: #b13028;
  }

  .v-grid-16 {
    //font-size: 16px;
    //position: absolute;
    //overflow: hidden;
    //box-sizing: border-box;
    //z-index: 5;
    border: 1px solid #d4d4d4;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    position: relative;
    background: #fafafa;
    color: #464646;
    overflow: hidden;
    font-family: ThemeIcons;
    font: inherit;
  }
  //.v-grid-16 > table {
  //  border-spacing: 0;
  //  table-layout: fixed;
  //  width: inherit;

  .v-panel-translucent {
    background: rgba(202, 233, 239, 0.41);
    color: #474747;
    border-radius: 4px;
    border: 1px solid #d5d5d5;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    overflow: visible !important;
  }

}